#crew {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-block-start: 14rem;
    padding-inline: 1rem;
}

#crew h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'barlow Condensed', sans-serif;
    margin-block-end: 3rem;
    padding-inline-start: 8rem;
    letter-spacing: 2px;
}

#crew h2 span {
    padding-inline-end: 1rem;
    letter-spacing: 2px;
    color: #7c7c80;
    font-weight: 500;
    font-size: 1.3rem;
}

.crewContent {
    display: flex;
    gap: 7rem;
    padding-inline: 3rem;
    padding-block-end: 10rem;
}

.crewContent .information {
    width: 50%;
    margin-inline-start: 6rem;
}

.information .about {
    margin-block-start: 9rem;
}

.information .about h3 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #a8a8aa;
}

.information .about h1 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: normal;
}

.information .about .description {
    font-family: 'Barlow', sans-serif;
    color: #d0d6f9;
    width: 100%;
    margin-block-end: 7rem;
}

.crewContent .information menu {
    display: flex;
    gap: 3rem;
}

.image {
    width: 50%;
}

.image img {
    min-width: fit-content;
    height: 35rem;
}

@media (max-width: 1310px) {
    .crewContent {
        gap: 0;
    }

    .crewContent .information {
        margin-inline-start: 0;
    }
}

@media (max-width: 950px) {
    #crew {
        background-image: url('../assets/crew/background-crew-tablet.jpg');
        padding-block-start: 8rem;
    }

    #crew h2 {
        padding-inline-start: 2rem;
    }

    .crewContent {
        flex-direction: column;
        text-align: center;
        padding-inline: 0;
    }

    .crewContent .information {
        width: 100%;
    }

    .information .about {
        margin-block-start: 0;
    }

    .information .about .description {
        margin-block-end: 3rem;
    }

    .crewContent .information menu {
        justify-content: center;
        margin-block-end: 2rem;
    }

    .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .image img {
        min-width: 15rem;
        height: 30rem;
    }
}

@media (max-width: 768px) {
    #crew {
        background-image: url('../assets/crew/background-crew-mobile.jpg');
    }

    #crew h2 {
        padding-inline-start: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .information .about h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding-block: 1rem;
    }

    .image img {
        min-width: 15rem;
        height: 20rem;
    }
}
