header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2.5rem;
    position: absolute;
    width: 100vw;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

header .headerLogo {
    margin-inline-start: 3rem;
    flex-shrink: 0;
}

header .hr {
    position: relative;
    left: 2rem;
    width: 100%;
    flex-shrink: 10;
    margin-inline-start: 4rem;
}

header hr {
    width: 100%;
    z-index: 9999;
    position: absolute;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

header button {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}

header nav {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding-inline-start: 8rem;
    padding-inline-end: 4rem;
    padding-block: 1.5rem;
    z-index: 99;
}

header nav ul {
    display: flex;
    gap: 3rem;
}

header nav ul a {
    color: white;
    text-decoration: none;
    padding-block-end: 1.6rem;
    padding-inline: 5px;
}

header nav ul a:hover,
header nav ul a.active {
    color: #d0d6f9;
    border-bottom: 2px solid #d0d6f9;
}

header nav span {
    font-weight: bold;
    padding-inline-end: 0.7rem;
}

@media (max-width: 950px) {
    header {
        padding-block-start: 0;
    }

    header .headerLogo {
        margin-inline-start: 2rem;
        padding-block-start: 1rem;
    }

    header hr {
        display: none;
    }

    header nav {
        padding-block-start: 2rem;
        padding-inline-start: 4rem;
        padding-inline-end: 2rem;
    }

    header nav ul {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    header .headerLogo {
        padding-block-start: 1.6rem;
    }

    header button {
        display: block;
        z-index: 999;
        position: absolute;
        top: 2.3rem;
        right: 2rem;
    }

    header nav {
        position: absolute;
        top: 0;
        padding-inline-start: 0;
        padding-block-start: 8rem;
        right: 0;
        height: 99vh;
        width: 16rem;
        backdrop-filter: blur(30px);
        background-color: rgba(105, 105, 105, 0.9);
        transform: translateX(16rem);
        transition: all 0.4s linear;
    }

    header nav.open {
        transform: translateX(0);
    }

    header nav ul {
        flex-direction: column;
        gap: 3rem;
    }

    header nav ul a {
        padding-inline-start: 2rem;
        padding-block: 0.4rem;
        width: 10rem;
        border-left: 2px solid transparent;
    }

    header nav ul a:hover,
    header nav ul a.active {
        color: #d0d6f9;
        border-bottom: none;
        border-left: 2px solid #d0d6f9;
    }
}
