.tabBtn button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #d0d6f9;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    transition: all 0.3 ease;
}

.tabBtn button:hover,
.tabBtn button.active {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
